<h2>HOMEPAGE | TASK LIST</h2>

<h4>Login Successful! Welcome, <%= @user.name %>, <%= @user.email %></h4>

<%= button_to "See my Tasklist", tasks_path, method: :get %>

<%= button_to "Log out", sessions_path, method: :delete %>
