<h2>DELETE: </h2>

<p>
  <%= link_to "Return to Homepage", tasks_path %>
</p>

<p>
  <strong>If you want to delete this record, read the form carefully and press 'Delete'.</strong>
</p>

<%= render partial: "form", locals: { http_method: :delete} %>
