<h2>EDIT: </h2>

<p>
  <%= link_to "Return to Homepage", tasks_path %>
</p>

<p>
  <%= link_to "Delete this Task entry", task_delete_path %>
</p>

<%= render partial: "form", locals: { http_method: :patch} %>
